:root {
    --main-font: 'Fredoka One', cursive;
    --main-font-color: white;
}

.form-add-delivery-hero-title {
    color: var(--main-font-color);
    font-family: var(--main-font);
    font-size: 3vw;
}

.form-when-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.form-when {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.form-when-hour {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}