:root {
    --main-font: 'Fredoka One', cursive;
    --main-font-color: white;
}

.form-add-delivery-hero-title {
    color: var(--main-font-color);
    font-family: var(--main-font);
    font-size: 3vw;
}

.form-when-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.form-when {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.form-when-hour {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.form-city-name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.form-city-name select {
    font-family: var(--main-font);
    outline: none;
    font-size: 2vw;
    border-radius: 25px;
    padding: 10px;
}

.form-city-name select option {
    font-family: var(--main-font);
    padding: 10px;
    border-radius: 25px;
    outline: none;
    font-size: 2vw;
}

@media only screen and (max-width: 1000px) {
    .form-when-wrapper {
        flex-direction: column;
    }
    .form-add-delivery-hero-title {
        font-size: 7vw;
        text-align: center;
    }
    .form-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-city-name select {
        font-size: 7vw;
    }
    .form-city-name select option {
        font-size: 5vw;
    }
}